<div class="select-container">
	<select [(ngModel)]="duration">
		<option *ngFor="let d of durationOptions" [ngValue]="d">
			{{ parseDuration(d, 'mm') }} m
		</option>
	</select>
</div>

<div id="timer">
{{ parseDuration(getTimeLeft()) }}
</div>
<div id="switcher-container">
	<button type="button" (click)="switchPomo()" class="switcher" [ngClass]="getState()">
		{{ buttonText() }}
	</button>
</div>
<table class="completed-pomos">
	<tr *ngFor="let x of pomoSession.pomos">
		<td class="registered-pomo"> {{ x.print('DD/MM/YYYY') }} </td>
		<td class="registered-pomo"> {{ x.print('hh:mm:ss') }} </td>
	</tr>
</table>
